---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于我"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		暂无
	</p>

	<p>
		暂无
	</p>

	<p>
		暂无
	</p>

	<p>
		暂无
	</p>

	<p>
		暂无
	</p>
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=1902022583&auto=1&height=66"></iframe>
</Layout>
