---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于Bobo和Bit1024"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2025')}
	heroImage="/head_main.png"
>
	<p>
       关于Bobo:
    </p>
    <p>
		联系方式:
    </p>
    <p>
        邮件:446776086@qq.com
    </p>
    <p>
        qq:3755745955 qid:Bobzwb1337
    </p>
    <p>
        weixin:wxBobozwb
	</p>

	<p>
		关于Bit1024:
        
        eeeeeeeeeeeeee
	</p>

	<p>
		暂无
	</p>

	<p>
		暂无
	</p>

	<p>
		暂无
	</p>
</Layout>
