---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Bobo的个人网站</h1>
			<p>
				你好，欢迎来到我的网站我还不知道怎么介绍自己，不过就先这样吧！
			</p>
			<p>
				这个网站主要是我用来在上面发布一些东西由Bobo,Bit1024共同维护。
			</p>
			<p>以下是我这个网站的主要用法：</p>
			<ul>
				<li>发布一些我自己的内容</li>
				<li>用来便利我自己使用一些东西</li>
				<li>后续添加其他功能......</li>
			</ul>
			<p>
				看的开心如果你发现了什么内容失效了，可以反馈在</a> → <a href="https://note.ms/bobo">点我反馈</a><code>PS:(临时地址)</code>
			</p>
			<p>
				qwa
			</p>
		</main>
		<Footer />
	</body>
</html>
