---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Bobo 版权所有.
	<div class="social-links">
		<a href="https://bobozwb.us.kg" target="_blank" title="Bobo的聊天室">Bobo的聊天室
		</a>
	<div class="social-links">
		<a href="https://space.bilibili.com/1246394069" target="_blank">
			<img src="favicon.ico" alt="B站" title="Bobo的B站个人空间"/>
                             <span class="right-entry-text">Bobo的B站个人空间</span>
		</a>
	<div class="social-links">
		<a href="https://afdian.com/a/Bobowed" target="_blank">
			<img src="logo.png" alt="爱发电" title="考虑一下捐款?"/>
                             <span class="right-entry-text">捐款</span>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
